.fa-twitter-square {
  color: #55acee; }

.fa-linkedin-square {
  color: #0076a8; }

.fa-github-square {
  color: #333333; }

.fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-github-square:hover {
  color: #f65e45; }

* {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt; }

body {
  padding: 0;
  margin: 0;
  background-color: white;
  text-align: center; }
  body * {
    text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  padding: 0.2em 0 0.2em 0;
  margin: 0;
  color: steelblue; }
  h1 :nth-child(1).fa, h2 :nth-child(1).fa, h3 :nth-child(1).fa, h4 :nth-child(1).fa, h5 :nth-child(1).fa, h6 :nth-child(1).fa {
    padding-right: 0.3em; }

h1 {
  font-size: 2.1em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.1em; }

p {
  margin: 0 0 16px 0; }

a {
  color: steelblue; }
  a:visited {
    color: steelblue; }
  a:hover {
    color: #f65e45; }
  a:active {
    color: #f65e45; }

header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px -36px 2px 36px;
  text-align: center; }
  header .content-aligned {
    max-width: 8in;
    margin: 0 5vmax;
    width: 100%;
    display: inline-block;
    text-align: left; }
    header .content-aligned h1 {
      display: inline-block; }

main {
  padding: 4.8em 5vmax 17vmin 5vmax;
  max-width: 8in;
  display: inline-block; }
  main [id] {
    padding-top: 4.8em;
    margin-top: -4.8em;
    padding-bottom: 0.3em; }
    main [id] h2 {
      padding-top: 0; }

nav {
  background-color: white;
  box-shadow: 0 0 5px 1px white;
  padding: 0.25em 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0; }
  nav .nav-button i {
    font-size: 15vmin; }

.nav-button {
  color: steelblue;
  padding: 0 0.1em 0 0.1em; }
  .nav-button:visited {
    color: steelblue; }
  .nav-button:hover {
    color: #f65e45; }
  .nav-button:active {
    color: #f65e45; }

.project-list {
  margin: 0 0.7em;
  padding: 0;
  list-style: none; }
